.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  padding-bottom: 5rem;
}

.sidebar__name {
  font-size: 1.4rem;
  font-weight: lighter;
}

.sidebar__job {
  font-size: 0.85rem;
  color: gray;
}

.sidebar__job:hover {
  cursor: context-menu;
}

.sidebar,
.sidebar__top,
.sidebar__bottom,
.sidebar__top > img {
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
}
.sidebar__top,
.sidebar__bottom {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-bottom: 0.7rem;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  margin-bottom: 1rem;
}

.sidebar__top > img {
  margin-bottom: -1.1rem;
  width: 100%;
  height: 4rem;
  object-fit: cover;
}

.sidebar__top > hr {
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 1px;
  margin: 0.75rem auto;
  border-style: none;
}

.sidebar__profile {
  width: 72px !important;
  height: 72px !important;
}

.sidebar__stat,
.sidebar__statNumber {
  font-size: 0.8rem;
  color: #837f7f;
}

.sidebar__stat,
.sidebar__link {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
  padding: 10px;
  transition: 0.3s;
}

.sidebar__stat {
  justify-content: space-between;
}

.sidebar__link {
  justify-content: space-between;
  color: #0a66c2;
}

.sidebar__link--recent {
  color: #070606;
}

.sidebar__link:hover,
.sidebar__stat:hover,
.sidebar__hashtag:hover,
.sidebar__name {
  cursor: pointer;
}

.sidebar__stat:hover {
  background-color: #ebebeb;
}
.sidebar__link:hover {
  color: #073461;
  text-decoration: underline;
}
.sidebar__hashtag:hover {
  color: #0a66c2;
}
.sidebar__link--recent:hover {
  color: #444141;
  text-decoration: none;
}
.sidebar__statNumber {
  margin-left: 2rem;
  color: #0a66c2;
  font-weight: 500;
}

.sidebar__dropdown {
  opacity: 0;
}

.sidebar__dropdown:hover {
  opacity: 1;
}

.sidebar__plus {
  background: transparent;
}

.sidebar__plus:hover {
  background: #ebebeb;
  border-radius: 0.7rem;
}

.sidebar__hashtag {
  display: flex;
  padding-left: 1rem;
}
.sidebar__hashtag > p {
  margin-left: 0.5rem;
}
