.register {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
  max-width: 416px;
}

.register__logo {
  max-width: 120px;
  height: auto;
  margin: 1.25rem 0;
}

.register__title {
  font-weight: 300;
  text-align: center;
  font-size: 1.6rem;
}

.register__description {
  margin-top: 0.35rem;
}

.register__form {
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  padding: 24px 32px 32px;
  border-radius: 8px;
  margin: 20px auto;
  width: 352px;
}

.register__form > form {
  display: flex;
  flex-direction: column;
}

.register__form > form > input {
  margin-top: 1.75rem;
  padding: 1rem 0.5rem;
}

.register__form > form > a {
  margin-top: 1rem;
}

.register__form > form > p {
  font-size: 0.75rem;
  line-height: 1.33333;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  margin: 16px 0 16px 0;
  text-align: center;
}

.register__form > form > input:focus {
  outline-color: rgb(0, 116, 180);
}

.register__form > form > input::placeholder {
  font-size: 1rem;
}

.register__button {
  text-align: center;
  text-decoration: none;
  background-color: #0a66c2;
  padding: 1rem;
  border-radius: 2rem;
  color: white;
  transition: 0.3s;
  outline: none;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
}

.register__button:hover {
  background-color: #004182;
}

.register__forgot,
.register__form > form > p > a,
.register__register > a {
  color: #2166c2;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.register__forgot:hover,
.register__form > form > p > a:hover,
.register__register > a:hover {
  text-decoration: underline;
}

.register__register {
  margin-top: 2rem;
  text-align: center;
}
